# Gradle
.gradle/
**/build/
**/bin/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Java
out/

# Eclipse/STS
**/.project
**/.classpath
**/.factorypath
**/.settings/

# Local Gradle user home (project-local)
.gradle-user/
